.modalBox:hover,
.modalBox:focus {
    background-color: aliceblue;
    transform: scale(120%);
    transition: background-color 0.5s;
    transition: transform 0.25s ease-in;
    cursor: pointer;
}

#boxRating {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: small;
}

#boxRating > svg {
    height: fit-content;
    transform: scale(70%);
}

.modalBox > :first-child {
    width: 80%;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.modalBox {
    background-color: aliceblue !important;
    height: 10vh !important;
    display: flex !important;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.4);
    /* border-radius: 50% 10px !important; */
}

.ratingSection {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.ratingSection > button {
    align-self: center;
}

.rating {
    width: fit-content;
    align-self: center;
}

#infoSection {
    font-size: 1.3rem;
}

.ratingByOthers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

@media screen and (max-width: 500px) {
    #modalBody > * {
        font-size: medium;
    }
}
