html,
body,
#root {
    margin: 0px;
    height: 100%;
    min-height: 100%;
    font-family: 'Montserrat';
}

#root {
    background-color: rgba(232, 205, 102, 255);
    overflow: auto;
    background-repeat: repeat;
}

#Ebene_1 {
    margin: auto;
}
